.form_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 300px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(179, 186, 207, 0.25);
    border-radius: 20px;
    align-items: center;
}


.form_container button{
    background: linear-gradient(87.16deg, #CBECEE 33.65%, #E4EFFF 84.36%);
    box-shadow: 1.6px 1.6px 0.4px rgba(60, 110, 114, 0.33);
    border-radius: 10px;
    padding: 8px 30px;
    border: none;
    margin: 20px;
}

.form_container input{
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid rgba(60, 110, 114, 0.26);
    border-radius: 10px;
}