<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
    <div th:include="header :: body"></div>
    <div th:text="${user?.email}"/>
    <div th:text="${user?.firstName}"/>
    <div th:text="${user?.lastName}"/>
    <div th:text="${user?.createdAt}"/>
    <a href="/user/profile/edit">Изменить</a>
    <a href="/logout">Выйти</a>
</body>
</html>