<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мониторинг</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
</head>
<body>
    <div th:include="header :: body"></div>
    <div style="display: flex; margin: auto; font-size: 15px">
        <a th:href="@{/room/your}">Мои объекты</a>
        <a th:href="@{/room/rent}">Арендуемые объекты</a>
    </div>
    <div class="search__container">
        <a th:href="@{|/room/owner/${room.id}|}" class="search__entity" th:each="room : ${rooms}">
            <div class="search__entity__image"  th:style="'background-image: url(/file/' + ${room.imagePath} + ')'"></div>
            <div class="search__entity__info">
                <div style="margin-top: 20px">Объект <b th:text="${room.name}"></b></div>
                <div style="margin-top: 20px">Адрес <b th:text="${room.address}"></b></div>
                <div style="margin-top: 20px">Тип <b th:text="${room?.roomType?.name}"></b></div>
            </div>
        </a>
    </div>
    <a style="display: flex; margin: auto" th:href="@{/room/add}">Добавить помещение</a>
</body>
</html>