<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/sign.css}" rel="stylesheet"/>

</head>
<body>
    <form class="auth_container" th:action="@{/user/registration}" th:object="${userSignRequest}" method="post">
        <input type="text" th:field="*{email}" placeholder="Почта">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        <input type="password" th:field="*{password}" placeholder="Пароль">
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        <button>Регистрация</button>
        <a th:href="@{/user/login}">Войти</a>
    </form>
</body>
</html>